src/Draco.SourceGeneration/Chr/Chr.xsd

<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://draco-lang.com/chr"
  xmlns="http://draco-lang.com/chr"
  attributeFormDefault="unqualified"
  elementFormDefault="qualified">

  <xs:element name="Chr" type="ChrType" />

  <xs:complexType name="ChrType">
    <xs:attribute name="MaxCases" type="xs:integer" use="required" />
  </xs:complexType>

</xs:schema>
